<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <div>
    <strong>Title</strong>
    <strong>Author</strong>
  </div>
  <% @articles.each do |article| %>
    <%= link_to article do %>
      <%= render article %>
    <% end %> 
  <% end %>
</div>

<strong><%= link_to "New article", new_article_path %></strong>
