<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <%= render 'sidebar', articles: @articles %>
  <%= render 'loader', article: @articles.first %>
</div>

<strong><%= link_to "New article", new_article_path %></strong>
