#articles {
  width: 90vw;
  display: flex;
  flex-direction: row;

  aside {
    width: 200px;
  }

  turbo-frame {
    border: 1px solid black;
    flex: 1 0 50%;
  }
}
dl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 150px;
}
